/* 스타일을 위한 CSS 코드 */
.MainTable {
    width: 100%;
    border-collapse: collapse;
  }
  
  .TableHeader th {
    position: sticky;
    top: 0;
    background: blue; /* 헤더 배경색 */
    z-index: 1; /* 헤더가 다른 내용 위에 오도록 */
    text-align: left; /* 왼쪽 정렬 */
  }
  
  .TableBody {
    display: block;
    max-height: 400px; /* 원하는 높이 설정 */
    overflow-y: auto;
  }
  
  .MainTable thead,
  .MainTable tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed; /* 테이블 레이아웃 고정 */
  }


  
  .MainTable tbody {
    display: block;
  }

  /* 열 너비 고정 */
.checkbox-column {
    width: 5%;
}
.number-column {
    width: 5%;
}
.title-column {
    width: 40%;
}
.author-column {
    width: 25%;
}
.date-column {
    width: 25%;
}