<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.TokenMapper">

    <select id="findrRefresh"  parameterType="String" resultType="String">
        select
            refresh
        from refresh_token
        where refresh =#{refresh};
    </select>

    <delete id="deleteRefresh"  parameterType="String">
        delete
        from refresh_token
        where refresh =#{refresh};
    </delete>

    <insert id="saveToken"  parameterType="com.example.demo.model.TokenDTO">
        INSERT INTO kdh.refresh_token
        (
        id,
        user_name,
        refresh,
        expiration
        )
        VALUES
        (
        #{id},
        #{user_name},
        #{refresh},
        #{expiration}
        );
    </insert>


</mapper>